<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SQL Optitree</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      {% if error %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
      {% endif %}
      <h2>Insert a SQL Query</h2>
      <p>This app works with a very restrict subset of the SQL Language. The following syntax is valid:</p>
      <div class="panel">
        <div class="panel-body">
          <p>SELECT ... FROM ... (JOIN ... (ON ...)?)* (WHERE ...)*</p>
          <p>The following rules are applied:</p>
          <ul>
            <li>If you do any type of product (like join), you MUST use alias!</li>
            <li>You can't have nested or multiple statements</li>
            <li>The WHERE clause only accepts basic operations, like (=, !=, &gt;, &lt;, &gt;=, &lt;=, AND, OR)</li>
            <li>Not even parenthesis are allowed on WHERE clause!</li>
          </ul>
        </div>
      </div>
      <form action="/optimize" method="POST">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <textarea name="sql" class="form-control" rows="15">SELECT a.id, a.name, b.id, b.job, c.id, c.project FROM tableA a, tableB b, tableC c WHERE a.name = 'John Doe' AND b.job = 'DBA' AND b.id = 10050</textarea>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Optimize!</button>
      </form>
    </div>
  </body>
</html>
